<% if user_signed_in? %>

<div class="container">  
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Instagram</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>

          <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
          </td>
              
          <td><%= friend.email %> </td>
          <td><%= friend.phone_number %></td>
          <td><%= friend.instagram %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
</table>


<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
</div>
</div>

<% else %>

  <div class="container">
    <div class="text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-black">Welcome Home.</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4">To create or view your friends-list, please log in.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <%= button_to "Register for an account", new_user_registration_path, method: :get, class: "btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold", params: { class: 'btn btn-secondary' } %>
            <%= button_to "Have an account? Login", new_user_session_path, method: :get, class: "btn btn-outline-dark btn-lg px-4", params: { class: 'btn btn-secondary' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
