<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h1>
    <p class="col-md-8 fs-4">
      <%= @friend.email %> |
      <%= @friend.phone_number %> |
      <%= @friend.instagram %>
    </p>

    <div class="d-flex">
      <%= link_to "Back", friends_path, class: "btn btn-dark mx-1" %>
      <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-secondary mx-1" %>
      <%= button_to "Delete", @friend, class: "item btn btn-danger mx-1", method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
